# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
.eggs/
*.pyc

# Virtual env
venv/
.env

# Django
*.log
local_settings.py
db.sqlite3
/media
/staticfiles

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
